# config file for ansible -- http://ansible.github.com
# nearly all parameters can be overridden in ansible-playbook or with command line flags
# ansible will read ~/.ansible.cfg or /etc/ansible/ansible.cfg, whichever it finds first

[defaults]
private_key_file = "{{ lookup('env', 'AWS_KEY_PATH') }}"
sudo_flags=-HE