[program:{{ application_name }}-celery]
command={{ virtualenv_path }}/bin/start_celery
directory={{ django_dir }}
user = {{ application_user }}
numprocs=1
stdout_logfile={{ application_log_dir }}/celery/celery-worker-stout.log
stderr_logfile={{ application_log_dir }}/celery/celery-worker-errors.log
autostart=true
autorestart=true
startsecs=10
stopsignal=KILL

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600

; When resorting to send SIGKILL to the program to terminate it
; send SIGKILL to its whole process group instead,
; taking care of its children as well.
killasgroup=true

; if rabbitmq is supervised, set its priority higher
; so it starts first
priority=998